<section class="about-section">
  <%= image_tag "me.png" %>
  <div class="about-text">
    Hi, my name is Fiorella!
    My passion is programming and my constant professional development,
    I enjoy creating graphic interfaces that reflect my creativity and challenges
    that require me to overcome uncertainty and obtain new skills and knowledge.
    I aspire to be a full stack developer and be part of innovative projects.
    <div>
</section>
