<main class="intro-main">
  <h1>Fiorella Chilcón</h1>
  <h2>Front End developer</h2>
</main>

<footer>
  <div>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-github"></i>
  </div>
  <div>
    <span>
      <i class="fas fa-mobile-alt"></i>
      +51 923059876
    </span>
    <span>
      <i class="fas fa-envelope"></i>
      Fiorella_chilcon@outlook.com
    </span>
  </div>
</footer>
