<section class="flex-center projects-section">

  <article class="flex-center">
    <img src="https://user-images.githubusercontent.com/58056552/89217742-49e66980-d592-11ea-9f9d-a08846777529.png" alt="" class="project-img">
    <div class="flex-center">
      <a href="https://github.com/FiorellaChilcon/LIM012-fe-burger-queen-api" target="_blank" class="demo-btn">DEMO</a>
    </div>
  </article>

  <article class="flex-center">
    <img src="https://user-images.githubusercontent.com/58056552/89241767-6b147d80-d5c5-11ea-93c8-46cd1d1823db.png" alt="" class="project-img">
    <div class="flex-center">
      <a href="https://fiorellachilcon.github.io/LIM012-data-lovers/src/" target="_blank" class="demo-btn">DEMO</a>
    </div>
  </article>

  <article class="flex-center">
    <img src="https://user-images.githubusercontent.com/58056552/89220070-9a5fc600-d596-11ea-86e2-3b5441918512.png" alt="" class="project-img">
    <div class="flex-center">
      <a href="https://github.com/FiorellaChilcon/LIM012-fe-md-links" target="_blank" class="demo-btn">DEMO</a>
    </div>
  </article>

  <article class="flex-center">
    <img src="https://user-images.githubusercontent.com/58056552/106365069-16965480-6301-11eb-8f7b-9234f6b983b7.PNG" alt="" class="project-img">
    <div class="flex-center">
      <a href="https://fiorellachilcon.github.io/LIM012-fe-social-network/src/" target="_blank" class="demo-btn">DEMO</a>
    </div>
  </article>

</section>
